.navestilos {
    background-color: #1F2833;
}

.nav-item {
    font-weight: bold;
}

.nav-item a:hover {
    background-color: #2a7f85;
    transition: 1.3s;
    border-radius: 50px;
}

.footerestilos {
    margin-bottom: 0;
}

.barraredes {
    background-color: #66FCF1;
}

.footerestilos {
    background-color: #1F2833;
}

.redes {
    color: #0B0C10;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 16rem;
    height: 380px;
    margin-left: px;
}

.card img {
    height: 180px;
}

.tarjetas1 h2 {
    text-align: center;
    margin-top: 50px;
}

.about-boxes {
    background-size: cover;
    padding: 60px 0 30px 0;
    position: relative;
}

.about-boxes::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.92);
    z-index: 9;
}

.about-boxes .container,
.about-boxes .container-fluid {
    position: relative;
    z-index: 10;
}

.about-boxes .card {
    border-radius: 3px;
    border: 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.about-boxes .card-icon {
    text-align: center;
    margin-top: -32px;
}

.about-boxes .card-icon i {
    font-size: 32px;
    color: #fff;
    width: 64px;
    height: 64px;
    padding-top: 5px;
    text-align: center;
    background-color: #2a7f85;
    border-radius: 4px;
    text-align: center;
    border: 4px solid #fff;
    transition: 0.3s;
    display: inline-block;
}

.about-boxes .card-body {
    padding-top: 12px;
}

.about-boxes .card-title {
    font-weight: 700;
    text-align: center;
}

.about-boxes .card-title a {
    color: #15222b;
}

.about-boxes .card-title a:hover {
    color: #2a7f85;
}

.about-boxes .card-text {
    color: #5e5e5e;
}

.about-boxes .card:hover .card-icon i {
    background: #fff;
    color: #2a7f85;
}

@media (max-width: 1024px) {
    .about-boxes {
        background-attachment: scroll;
    }
}

.provee {
    padding-top: 60px;
}

.provee .swiper-slide img {
    opacity: 0.5;
    transition: 0.3s;
}

.provee .swiper-slide img:hover {
    opacity: 1;
}

.provee .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.provee .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #2a7f85;
}

.provee .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #2a7f85;
}

.productoCarrito {
    background-color: #1F2833;
}

header,
.alert {
    z-index: 100;
}

.description {
    height: 25px;
    overflow: hidden;
    transition: height 0.3s ease-in 0.3s;
}

.description:hover {
    height: 80px;
}

.carrito {
    min-height: 80vh;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

.table__productos {
    display: flex;
}

.table__productos>img {
    width: 9rem;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 20px;
}

.table__cantidad>input {
    width: 40px;
    border: none;
    outline: 0;
    font-size: 16px;
    font-weight: 700;
    margin-right: 30px;
    margin-bottom: 20px;
}

.hide,
.remove {
    display: none;
}

.estilos {
    background-color: #1F2833;
}

.contacto {
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 0.05em;
}

.fondo {
    background-color: #1F2833;
}

.p-6 {
    padding: 4rem 7rem !important;
}

.contact-box {
    padding: 3rem;
}

.btn {
    font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 5rem !important;
    min-width: 10rem;
}

.btn-outline-dark {
    border: 2px solid;
}

.form-control {
    border-radius: 0.2rem;
    padding: 1.5rem 1rem;
}

.register-bg {
    background-image: url("../image/contacto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.testimonial {
    bottom: 10px;
    margin-left: 2.5%;
}

@media (max-width: 575.98px) {
    .p-6 {
        padding: 2rem;
    }
    .contact-box {
        padding: 0;
    }
    .width-100 {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .register-bg {
        min-height: 50vh;
    }
}

.containerBreadcumb {
    text-align: center;
    background: #45A29E;
    padding: 20px 0;
    color: #fff;
}

.section-title h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 0;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.features .card {
    border: 0;
    padding: 160px 20px 20px 20px;
    position: relative;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.cardIndex {
    width: 18rem;
    height: 30rem;
}

.features .card-body {
    z-index: 10;
    background: rgba(255, 255, 255, 0.686);
    padding: 15px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    transition: ease-in-out 0.4s;
    border-radius: 5px;
}

.features .card-title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}

.features .card-title a {
    color: #3c4133;
}

.features .card-text {
    color: #5e5e5e;
}

.features .read-more a {
    color: #777777;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    transition: 0.4s;
}

.features .read-more a:hover {
    text-decoration: underline;
}

.features .card:hover .card-body {
    background: #45A29E;
}

.features .card:hover .read-more a,
.features .card:hover .card-title,
.features .card:hover .card-title a,
.features .card:hover .card-text {
    color: #fff;
}
